/**
 * _content.scss
 */

.site {}

/*
Header Area
 */
.header-area {
  padding-top: 1rem;

  @include break-sm {
    padding-top: 2rem;
  }
  @include break-md {
    padding-left: 3rem;
  }
}
.client-logo-area {
  img {
    max-height: 150px;
  }

  @include break-sm {
    float: right;
  }
}

/*
Content Area
 */
.content-area {
  padding: 1.5rem 2.25rem;
  background-color: white;
  border: 1px solid $border-color;

  @include break-sm {
    padding: 2.25rem 3rem;
  }
}

/*
Phases
 */
.project-phase {
  margin-bottom: 2rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}
.project-phase__title {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $border-color;
}

/*
Rounds
 */
.project-round {
  ul, ol {
    margin-top: 0;
  }
}
.project-round__title {
  margin: 0.25rem 0 0.75rem;

  span {
    display: inline-block;
    vertical-align: middle;
  }
}
.project-round__check {
  color: green;
  margin-left: 0.5rem;
  font-size: 0.875rem;
}

/*
Misc.
 */
.error404, .blog {
  .content-area {
    margin-top: 1rem;

    @include break-sm {
      margin-top: 2rem;
    }
  }
}
